<!DOCTYPE html>
<html>
  <head>
    <title>post_list</title>
  </head>
  <body>
    <div>
      <h1>Blog Post</h1>
      <h4>This is suppose to be the post list</h4>
    </div>
    <div>
      <h2>First Post</h2>
      <p>published: 14.06.2014, 12:14</p>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div>
      <h2>Second Post</h2>
      <p>published: 14.06.2014, 12:14</p>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    <div>
      <h2>Third Post</h2>
      <p>published: 14.06.2014, 12:14</p>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>
  </body>  
</html>
